Django==5.2.4
djangorestframework==3.14.0
django-cors-headers==3.14.0
pillow==9.2.0  # Para trabajar con imágenes
python-dotenv==0.20.0  # Para gestionar variables de entorno (si las usas)
djangorestframework-simplejwt==5.3.1  # Para autenticación JWT
